<mat-card>
  <mat-card-header>
    <mat-card-title style="font-weight: bold">Neue Spende hinzufügen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container mat-elevation-z8">
      <div>
        <form #myForm="ngForm">
          <div class="example-container" style="padding: 20px 20px 20px 20px;">
            <mat-form-field>
              <input name="name" [(ngModel)]="newDonation.name" maxlength="42" matInput placeholder="Name" required>
            </mat-form-field>
            <mat-form-field>
              <input name="betrag" [(ngModel)]="newDonation.betrag" matInput placeholder="Betrag in €" type="number"
                     class="example-right-align"
                     required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addDonation()">Speichern</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 50px;">
  <mat-card-header>
    <mat-card-title style="font-weight: bold">Bestehende Spenden</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container mat-elevation-z8" style="padding: 20px 20px 20px 20px;">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="betrag">
          <mat-header-cell *matHeaderCellDef> Betrag</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.betrag | number : '1.2-2':'de'}} €</mat-cell>
        </ng-container>

        <ng-container matColumnDef="bearbeiten">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">
              <mat-icon (click)="openDialog(element)" aria-label="Bearbeiten">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="loeschen">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">
              <mat-icon (click)="deleteDonation(element)" aria-label="Entfernen">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

