@import '~@angular/material/prebuilt-themes/purple-green.css';

::-webkit-scrollbar {
  display: none;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 30%;
}

.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url('../../assets/img/spielplatz.jpg');
  background-size: cover;
}

mat-card.example-card.mat.mat-card{
  max-height: 96px;
}
